<h1> <%=@user.name%>'s Dashboard</h1>

<p><%=button_to("Discover Movies", user_discover_path(@user), method: :get)  %> </p>


<h2>My Viewing Parties</h2>
<div class="body_container">
  <% @user.parties.each do |party| %>
    <div id="party" class="sub_container">
    <section id="<%="movie_#{party.movie.id}"%>">
    <img src=<%= "https://image.tmdb.org/t/p/w200/#{party.movie.image}" %> alt=<%=party.movie.title%>> 
      <h3><%= link_to(party.movie.title, user_movie_path(@user.id, party.movie_id)) %> </h3>
      <p> Date: <%=party.date.strftime("%B %d, %Y")%> </p>
      <p> Time: <%=party.time.strftime("%l:%M %p")%> </p>

      <% if party.host_id == @user.id %>
        <p><%="I am Hosting"%> </p>
        <section id="invited">
          <p>Invited: </p>
          <ul>
            <% party.users.each do |user| %>
              <%unless user == @user  %>
                <li> <%= user.name%> </li>
              <% end %>
            <% end %>
          </ul>
        </section>
      <% end %>

      <% if party.host_id != @user.id %>
        <p><%="Host is #{party.host_name}" %></p>
        <section id="invited">
          <p>Invited: </p>
          <ul>
          <% party.users.each do |user| %>
            <% if user == @user %>
              <strong> <li> <%= user.name %> </li> </strong>
            <% else %>
              <li> <%= user.name %> </li>
            <% end %>
          <% end %>
          </ul>
        </section>
      <% end %>
    </section>
    </div>
  <% end %>
<div>
